*{
    margin: 10px;
}
.ui.segment {
    position: absolute;
    justify-content: center;
     left: 50%;
     top: 30%;
    width: 370px;
    background-color: rgb(227, 230, 229);
}
.ui.input{
    display: block;
}
.submit{
width: 300px;
}

