.input{
width: 300px;
/* margin-top: 10px;
margin-left: 20%; */

}
/* .ui.segment {
    position: absolute;
    display: flex;
    justify-content: center;
     left: 50%;
     top: 50%;

    width: 500px;
} */
.ui.button{
    margin-left: 20%;
}


